*{
    font-family: "Inter", sans-serif;
}
#navbar-menu ul li a{
    font-weight: bold;
    margin-right: 30px;
    color: #0ACEFE;
}


.wa_png{
    border: 1px solid #27AE60;
    padding: 10px 18px;
    font-size: 16px;
}
.wa_png:hover{
    background-color: #27AE60;
    color: white;
    cursor: pointer;
}
.call{
    background:linear-gradient(to right,#0ACEFE,#2699fb);
    padding: 10px 18px;
    color: white;
}


.banner-content h1{
    font-size: 52px;
    font-weight: 700;
}
.banner-content h1 span{
    color: #2699FB;
    text-decoration: underline;
}
.banner-content p{
    font-size: 22px;
}
.banner-content ul{
    list-style-type: none;
}
.banner-content ul li{
    font-size: 22px;
}
.banner-content ul li i{
    color: #2699FB;
}
.banner-contentbtn button{
    width: 50%;
    padding: 10px 0px;
    border-radius: 5px;
   
}
.banner-contentbtn button:first-child{
    background: linear-gradient(to right,#0ACEFE,#2699fb);
    color: white;   
}
.banner-form{
    padding: 40px;
    border-radius: 10px;
}
.banner-form h3{
    font-size: 18px;
    font-weight: 700;
}
.banner-form button{
    width: 100%;
    padding: 10px 0px;
    /* border-radius: 5px; */
    background: linear-gradient(to right,#0ACEFE,#2699fb);
    color: white;
    border: none white;  
}
.counterSection h2{
   font-size: 30px;
   font-weight: 700;
   color: #2699FB;
}
.highlightSection{
    background-color: #f7faff;
}
.highlightSection h2{
    color: black;
    font-size: 36px;
    font-weight: 700;
}
.highlightSection p{
    font-size: 18px;
}
.hightlightItems h4{
    font-size: 20px;
    font-weight: 600;
}
.hightlightItems p{
    font-size: 15px;
}
/* .highlightSection2{
    background-color: #f7faff;
} */
 .navTab ul li{
    list-style-type: none;
 }
 .tabChanges .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #f2f4f7;
    color: black;
    border-radius: 0px;
    border-bottom: 2px solid blue;
 }